<h1>New Message</h1>

<%= form_with(model: @message) do |form| %>
  <% if @message.errors.any? %>
    <ul>
      <% @message.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <%= form.label :chat_id %>
  <%= form.select :chat_id, Chat.all.collect { |c| ["Chat ##{c.id}", c.id] } %><br>

  <%= form.label :user_id, "Author" %>
  <%= form.select :user_id, User.all.collect { |u| [u.first_name, u.id] } %><br>

  <%= form.label :body %>
  <%= form.text_area :body %><br>

  <%= form.submit %>
<% end %>
