<h2>Message Details</h2>

<p>
  <strong>Author:</strong> <%= @message.user.first_name %> <%= @message.user.last_name %>
</p>

<p>
  <strong>Chat between:</strong>
  <%= @message.chat.sender.first_name %> <%= @message.chat.sender.last_name %>
  and
  <%= @message.chat.receiver.first_name %> <%= @message.chat.receiver.last_name %>
</p>

<p>
  <strong>Message content:</strong> <%= @message.body %>
</p>

<p>
  <%= link_to 'View full chat', chat_path(@message.chat) %>
</p>

<% if can? :edit, @message %>
  <%= link_to 'Edit message', edit_message_path(@message), class: 'btn btn-outline-secondary' %>
<% end %>

<% if can? :destroy, @message %>
  <%= button_to 'Delete message', message_path(@message), method: :delete,
        data: { confirm: 'Are you sure?' },
        class: 'btn btn-outline-danger' %>
<% end %>

<%= link_to 'Back to messages', messages_path, class: 'btn btn-link' %>
