<h1>New User</h1>

<%= form_with(model: @user) do |form| %>
  <% if @user.errors.any? %>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <%= form.label :first_name %>
  <%= form.text_field :first_name %><br>

  <%= form.label :last_name %>
  <%= form.text_field :last_name %><br>

  <%= form.label :email %>
  <%= form.email_field :email %><br>

  <%= form.submit %>
<% end %>
