<h1>New Chat</h1>

<%= form_with(model: @chat) do |form| %>
  <% if @chat.errors.any? %>
    <div class="alert alert-danger">
      <ul>
        <% @chat.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :receiver_id, "Receiver", class: "form-label" %>
    <%= form.select :receiver_id, User.where.not(id: current_user.id).map { |u| ["#{u.first_name} #{u.last_name}", u.id] }, {}, class: "form-select" %>
  </div>

  <div class="mb-3">
    <%= form.submit "Create Chat", class: "btn btn-primary" %>
  </div>
<% end %>
