<h1>New Chat</h1>

<%= form_with(model: @chat) do |form| %>
  <% if @chat.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @chat.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.label :sender_id, "Sender" %>
  <%= form.select :sender_id, User.all.collect { |u| ["#{u.first_name} #{u.last_name}", u.id] } %><br>

  <%= form.label :receiver_id, "Receiver" %>
  <%= form.select :receiver_id, User.all.collect { |u| ["#{u.first_name} #{u.last_name}", u.id] } %><br>

  <%= form.submit %>
<% end %>
